.form-styling form div small{
    display: none;
}

body {
    background-color: #FAF3DD;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Inria Serif', serif;
    
}

.main-body {
    background-color: #FAF3DD;
}

.container-fluid {
    background-color: #FAF3DD;
}

.navbar-nav {
    background-color: #FAF3DD;
}


.first_letter {
    font-family: 'Tangerine', cursive;
    font-size: 150px;
    margin-right: 2px;
}

.carousel-inner {
    max-height: 700px;
    }


form {
    justify-content: center;
}













