.form-styling form div small{
    display: none;
}

body {
    background-color: #FAF3DD;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-body {
    background-color: #FAF3DD;
}

.container-fluid {
    background-color: #FAF3DD;
}

.navbar-nav {
    background-color: #FAF3DD;
}