{%extends 'base.html'%}
{%block title%}
{{city.name}}
{%endblock%}
{%block content%}
<style>
body {
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  min-height: 100vh;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 15px;
  margin: 10px;
}
{% comment %} aside {
  background:#fae5dd;
} {% endcomment %}
.modal-body form{
    display:grid;
}
.material-icons.md-36 { 
  font-size: 33px; 
  }
.post-create-btn{
  color:#5E6472;
}
.post-create-btn:hover {
  color:black;
}
.post-create-btn:visited {
  color:#5E6472;
}
.edit-post-btn{
  color:#5E6472;
}
.edit-post-btn:hover {
  color:black;
}
.edit-post-btn:visited {
  color:#5E6472;
}
.delete-post-btn{
  color:#5E6472;
}
.delete-post-btn:hover {
  color:black;
}
.delete-post-btn:visited {
  color:#5E6472;
}
.create-title-nodisplay{
  display:none;
}
.create-content-nodisplay{
  display: none;
}
.edit-title-nodisplay{
  display:none;
}
.edit-content-nodisplay{
  display: none;
}
</style>
<body>
  <main>
    <aside class="container rounded-3 pe-0 m-2 ">
      <h1 class="pt-2 ps-3">Cities</h1>
      {% for city in cities %}
        <div class="cointainer row m-3 rounded-3 border border-2 border-dark" style="background-color: #ffa69e">
          <div class="col-4 p-0">
            <img class="img-fluid rounded m-1" style="border: 2px solid black;" src="{{city.image}}" alt="">
          </div>
          <div class="col-8">
            <a style="color: black; text-decoration: none;" href="{% url "cities_detail" city.pk %}">
              <h4 class="mb-0 display-6" style="color: black;" >{{city.name}}</h4></a>
          </div>
        </div>
    {% endfor %}
    </aside>

<div class="container rounded-3 mt-2 ps-0 border border-2 border-dark">
<div class="container">
  <div class="row">
    <div class="col-4 pt-3">
      <h2 class="fw-bolder">{{city.name}}</h2>
      <h4>{{city.country}}</h3>
    </div>
    <div class="col-8 ps-0 pe-0">
      <img class="img-fluid rounded-3 me-2 pt-3 pe-1" src="{{city.image}}" alt="{{city.name}}">
    </div>
  </div>
</div>


<div class="container ps-4 pe-0">
<div class="d-flex justify-content-between p-3">
  <h3 class="text-decoration-underline">Posts</h3>
  {%if user.is_authenticated%}
  <!-- Button Create trigger modal -->
  <a href='#' class="post-create-btn  text-decoration-none" data-bs-toggle="modal" data-bs-target="#createPostModal">
    <span class="material-icons md-36">
      add_circle_outline
    </span>
  </a>
<!--Button Create Modal end-->
  {%endif%}
</div>
  <!--Modal and Button End-->


</div>
<div class="container">
{% for post in city.posts.all|dictsortreversed:"created_at" %}


<!-- Modal Edit -->
<div class="modal fade" id="edit{{ forloop.counter }}Modal" tabindex="-1" aria-labelledby="edit{{ forloop.counter }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h2 class = "mt-2">Edit: {{post.title}}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      {%if user.pk == post.users.pk%}
        <form class = "edit-post-form" action="{%url 'post_update' post.pk%}" method='POST'>
        <div class="alert alert-danger edit-title-error edit-title-nodisplay">
        Your title must be between 1 character and 200 characters
        </div>
        <div class="alert alert-danger edit-content-error edit-content-nodisplay">
        Your post content must be at least one character
        </div>
        {% csrf_token %}
        <label for="post-title" class = "mb-1">title</label>
        <input id = "post-title" type="text" name = 'title' value = "{{post.title}}" class = "mb-3">
        <label for="post-content" class = "mb-1">content</label>
        <textarea name="content" id="post-content" cols="30" rows="10" class = "mb-3">{{post.content}}</textarea>
        <label for="post-cities" class = "mb-1">city</label>
        <select class = "mb-3" name="cities" id="post-cities">
        {%for city in cities%}
        {%if city.pk == post.cities.pk%}
        <option selected value="{{city.pk}}">{{city.name}}</option>
        {%else%}
        <option value="{{city.pk}}">{{city.name}}</option>
        {%endif%}
        {%empty%}
        <option>no cities</option>
        {%endfor%}
        </select>
        <input class = "mb-3 btn btn-outline-secondary" type="submit" value = "submit">
        </form>
        {%else%}
        <div class="alert alert-danger">
        Only the post creator can edit this post.
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
<!--Modal Edit End-->

<!-- Modal Delete -->
<div class="modal fade" id="delete{{forloop.counter}}Modal" tabindex="-1" aria-labelledby="delete{{forloop.counter}}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h2 "mt-2">Delete Post</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {%if user.pk == post.users.pk%}
        <h3>Are you sure you want to delete: {{post.title}}?</h3>
        <form action="{%url 'post_delete' post.pk%}" method="POST">
        {% csrf_token %}
        <dev class="d-flex">
        <input class = "mb-3 me-3 btn btn-outline-danger" type="submit" value = "Delete"> 
        <a href="#" 
        class="mb-3 btn btn-outline-secondary" 
        data-bs-dismiss="modal" 
        aria-label="Close">Cancel</a>
        </dev>
        </form>
        {%else%}
        <div class="alert alert-danger">
        Only the post creator can delete this post.
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
<!--Modal Delete End-->

  <div class="row ms-3 me-3 mb-3 rounded-3 border border-2 border-dark" style="background-color:#F7EBC7;">
      <div class="col-2 p-0">
      <img class="img-fluid rounded m-1 border border-2 border-dark" src="{{post.users.profile.image}}" alt="">
      </div>
      <div class="col-10">
          <a style="color: black;" href="{% url "post_details" post.pk %} "><h5 style="color: black;" >{{post.title}}</h5></a>
  {% if post.content|length > 1000 %}
        <p class="half-content" id="half-{{post.id}}">{{ post.content|truncatechars:1000 }}<a data-id="{{post.id}}" href="javascript:void();" class="show-hide-btn text-decoration-none" style="color: #5e6472;"><br>Read More</a></p>
        <p class="full-content" id="full-{{post.id}}" style="display: none;">{{ post.content }}<a data-id="{{post.id}}" href="javascript:void();" class="show-hide-btn text-decoration-none" style="color: #5e6472;"><br>Read Less</a></p>
  {% else %}
        <p>{{ post.content }}</p>
    {% endif %}
    {%if user.pk == post.users.pk%}
    <!-- Button Edit trigger modal -->
    <a href='#' class="edit-post-btn" data-bs-toggle="modal" data-bs-target="#edit{{ forloop.counter }}Modal">
      <span class="material-icons">
        drive_file_rename_outline
      </span>
    </a>
<!--end modal button edit-->

<!-- Button modal trigger delete -->
  <a href='#' class="delete-post-btn" data-bs-toggle="modal" data-bs-target="#delete{{forloop.counter}}Modal">
    <span class="material-icons">
      delete_outline
    </span>
  </a>
<!-- end Button modal delete -->
{%endif%}
      </div>
      </div>  

{% endfor %}
  </div>
</div>
<!-- Modal Post Create Start -->
<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 mb-0">
        <h2 class = "mt-2">Create Post</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <form class = "create-post-form" action="{%url 'post_create'%}" method='POST'>
        <div class="alert alert-danger create-title-error create-title-nodisplay">
        Your title must be between 1 character and 200 characters
        </div>
        <div class="alert alert-danger create-content-error create-content-nodisplay">
        Your post content must be at least one character
        </div>
        {% csrf_token %}
        <label for="post-cities" class = "mb-1">city</label>
        <select class = "mb-3" name="cities" id="post-cities">
        <!--cities selected-->
        {%for cit in cities%}
        {%if cit.pk == city.pk%}
        <option selected value="{{cit.pk}}">{{cit.name}}</option>
        {%else%}
        <option value="{{cit.pk}}">{{cit.name}}</option>
        {%endif%}
        {%empty%}
        <option>no cities</option>
        {%endfor%}
         <!--cities end selected-->
        </select>
        <label  class = "mb-1" for="post-title">title</label>
        <input class = "form-post-title mb-3" id = "post-title" type="text" name = 'title'>
        <label class = "mb-1" for="post-content">content</label>
        <textarea class = "form-post-content mb-3" name="content" id="post-content" cols="30" rows="10"></textarea>
        <input class = "mb-3 btn btn-outline-secondary" type="submit" value = "submit">
        </form>
      </div>
    </div>
  </div>
</div>
</main>
</body>
<!--modal post create end-->
<script>
$(document).ready(function() {
  $(".show-hide-btn").click(function() {
    var id = $(this).data("id");
    $("#half-" + id).toggle();//hide/show..
    $("#full-" + id).toggle();
  })
})
$(document).ready(function() {
  const createForms = $('.create-post-form')
  for(let form of createForms){
    form.addEventListener('submit',function(e){
      e.preventDefault()
      let titleLength = form.childNodes[13].value.toString().length
      let contentLength = form.childNodes[17].value.toString().length
      $(form.childNodes[1]).addClass('create-title-nodisplay')
      $(form.childNodes[3]).addClass('create-content-nodisplay')
      if(titleLength<=1 || titleLength>200){
        $(form.childNodes[1]).removeClass('create-title-nodisplay')
      }
      if(contentLength<1){
        $(form.childNodes[3]).removeClass('create-content-nodisplay')
        console.log('error display content')
      }
      if(contentLength>1 && titleLength=>1 && titleLength<200){
        return form.submit()
      }
      
    })
  }
  const editForms = $('.edit-post-form')
  for(let form of editForms){
    form.addEventListener('submit',function(e){
      e.preventDefault()
      console.log(form.childNodes)
      let titleLength = form.childNodes[9].value.toString().length
      let contentLength = form.childNodes[13].value.toString().length
      $(form.childNodes[1]).addClass('edit-title-nodisplay')
      $(form.childNodes[3]).addClass('edit-content-nodisplay')
      if(titleLength<=1 || titleLength>200){
        $(form.childNodes[1]).toggle('edit-title-nodisplay')
        console.log('error display title')
      }else if(contentLength<1){
        console.log(form.childNodes[3])
        $(form.childNodes[3]).toggle('edit-title-nodisplay')
        console.log('error display content')
      }else{
        form.submit()
      }
      
    })
  }
  //on submit prevent default for all edit forms
  //if content field is not empty and title is between 1 and 200 chars log submit
  //if not display error 
})
</script>
{%endblock%}