{%extends 'base.html'%}
{%block title%}
{%endblock%}

{%block content%}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active">
        <img src="https://cdn.britannica.com/68/95568-050-A0955C0F/Palace-of-Diocletian-Split-Croatia.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Machu_Picchu%2C_Peru.jpg/1200px-Machu_Picchu%2C_Peru.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Colosseo_2020.jpg/1200px-Colosseo_2020.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="d-flex justify-content-center display-4 m-5">
    <h2>Wayfare is ...</h2>
</div>
<div class="infocontainer">
    <div class="row text-center m-5">
        <div class="col">
            <h3 class = "title">Topic 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas molestias porro repellat, necessitatibus ipsum, laboriosam obcaecati, iure non repudiandae error nobis ex eveniet praesentium tenetur fugiat. Autem similique a quibusdam!</p>
        </div>
        <div class="col">
            <h3 class = "title">Topic 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas molestias porro repellat, necessitatibus ipsum, laboriosam obcaecati, iure non repudiandae error nobis ex eveniet praesentium tenetur fugiat. Autem similique a quibusdam!</p>
        </div>
        <div class="col">
            <h3 class = "title">Topic 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas molestias porro repellat, necessitatibus ipsum, laboriosam obcaecati, iure non repudiandae error nobis ex eveniet praesentium tenetur fugiat. Autem similique a quibusdam!</p>
        </div>
    </div>
</div>



{%endblock%}