{% extends 'base.html' %}
{% block title %}Wayfare - {{post.title}}{% endblock %}

{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<div class="container">
<div class="row">
  <div class="display-3 text-decoration-underline  mb-3">{{post.title}}</div>
</div>
    <article class="row single-post mt-5 no-gutters">
        <div class="col-md-12">
            <div class="image-wrapper float-left pr-3">
                <img src="{{post.image}}" style= "max-width:50vh" alt="">
            </div>
            <div class="single-post-content-wrapper">
                  <p class = "fs-3 mt-5"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quidem totam, laborum esse expedita modi. Aperiam quia ut, temporibus nam repudiandae ad architecto magni maiores maxime. Dolorem vero dicta quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ad, ex eaque fuga minus reprehenderit asperiores earum incidunt. Possimus maiores dolores voluptatum enim soluta omnis debitis quam ab nemo necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </p>  
                  <p class = "fs-3 mt-5"> Nihil ad, ex eaque fuga minus reprehenderit asperiores earum incidunt. Possimus maiores dolores voluptatum enim soluta omnis debitis quam ab nemo necessitatibus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem vitae accusantium quisquam officiis reiciendis dolore dolorem maiores ipsum eveniet eaque harum voluptates, autem minima? Fuga itaque veniam quibusdam magnam nisi!
                  </p>
                  <div class="card float-end mb-3" style="max-width: 400px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="{{user.profile.image}}" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body float-end mt-3">Created by: {{post.users.username}}
                          <div class="row mt-2 ms-2 ">
                          <p>{{post.created_at}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
            </div>
        </div>
    </article>
</div>
{% endblock content %}