{% extends 'base.html' %}
{% block title %}Wayfare - {{post.title}}{% endblock %}

{% block content %}


<div class="container mt-5">
<div class="row">
  <div class="mb-3">
    <h1 style="font-size: 40px;" class="text-decoration-underline">{{post.title}}</h1>
    <a style="color: black;" href="{% url "cities_detail" post.cities.pk %}"><h3>{{post.cities.name}}</h3></a>
  </div>
</div>
    <article class="row single-post mt-3 no-gutters">
        <div class="col-md-12">
            <div class="single-post-content-wrapper">
                  <article class="fs-5 p-5 rounded-3" style="background: #F7EBC7;">
                  {{post.content}}
                  </article>

                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                          <div class="card-body float-end mt-3">
                          <div class="row ms-2">
                          <p>Created by: <a style="color: #5e6472;" href="{% url "profile_detail" post.users.pk %}">{{post.users.username}}</a> -- {{post.created_at}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
        </div>
    </article>
</div>


<div class="container mt-3">
<div class="row">
<div class="col-md-12">
{%if user.is_authenticated%}
<form action="{%url 'comment_create'%}" method="POST">
{% csrf_token %}
  <div class="h1">Add a Comment!</div>
    <div class = "mb-3">
      <div><label for="comment-title" class="form-label">Comment title</label></div>
      <input type="text" id = "comment-title" name="title" class="w-100">
  </div>
  <div class = "mb-3">
    <div><label for="comment-content">comment content</label></div>
    <textarea name="content" id="comment-content" cols="30" rows="10" class="w-100"></textarea>
  </div>
  <input type="hidden" name = "post" value="{{post.pk}}">
  <input type="submit" value ="submit">
</form>
{%endif%}
</br>


{%for comment in comments|dictsortreversed:"created_at"%}
<!-- Modal Edit -->
<div class="modal fade" id="edit_comment{{forloop.counter}}Modal" tabindex="-1" aria-labelledby="edit_comment{{forloop.counter}}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h2 "mt-2">Edit {{comment.title}}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {%if user.pk == comment.users.pk%}
        <form action="{%url 'comment_update' comment.pk%}" method="POST" class="container d-flex flex-column">
        {% csrf_token %}
        <label for="comment-title" class = "mb-1">comment title</label>
        <input type="text" id = "comment-title" name="title" value = "{{comment.title}}"
        class = "mb-3">
        <label for="comment-content" class = "mb-1">comment content</label>
        <textarea name="content" id="comment-content" cols="30" rows="10" class = "mb-3">{{comment.content}}</textarea>
        <input type="submit" value ="submit">

        </form>
        {%else%}
        <div class="alert alert-danger">
        Only the comment creator can edit this post.
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
<!--Modal Edit End-->

<!-- Modal Delete -->
<div class="modal fade" id="delete_comment{{forloop.counter}}Modal" tabindex="-1" aria-labelledby="delete_comment{{forloop.counter}}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h2 "mt-2">Delete Comment</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {%if user.pk == comment.users.pk%}
        <h3>Are you sure you want to delete: {{comment.title}}?</h3>
        <form action="{% url 'comment_delete' comment.pk %}" method="POST">
        {% csrf_token %}
        <dev class="d-flex">
        <input class = "mb-3 me-3 btn btn-outline-danger" type="submit" value = "Delete"> 
        <a href="#" 
        class="mb-3 btn btn-outline-secondary" 
        data-bs-dismiss="modal" 
        aria-label="Close">Cancel</a>
        </dev>
        </form>
        {%else%}
        <div class="alert alert-danger">
        Only the comment creator can delete this post.
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
<!--Modal Delete End-->


<div class="card mb-3 w-100" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">{{comment.title}}</h5>
    <p class="card-text">{{comment.content}}</p>

    <!-- Button modal trigger Edit -->
    <a href="#" class="btn btn-dark"
    data-bs-toggle="modal" data-bs-target="#edit_comment{{forloop.counter}}Modal">edit</a>
    <!-- end Button modal Edit -->
    <!-- Button modal trigger delete -->
    <a href='#' 
    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_comment{{forloop.counter}}Modal">
      Delete
    </a>
  </div>
</div>
<!-- end Button modal delete -->
{%endfor%}
</div>
</div>
</div>

{% endblock content %}

</div>
</div>
</div>