{%extends 'base.html'%}
{%block title%}Wayfarer Profile - {{user.username}}
{%endblock%}
{%block content%}


<div class="container mt-5">
    <div class="main-body">
    <div class="row">
        <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="{{user.profile.image}}" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                <h4>{{user.username}}</h4>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Joined Date</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{user.date_joined}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{user.first_name}} {{user.last_name}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Current City</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{user.profile.current_city}}
                </div>
            </div>
            <hr>
            <div class="row">
                {%if request.user.pk == user.pk%}
                <div class="col-sm-12">
 <!-- Button Edit trigger modal -->
 {% if request.user.pk == user.profile.pk %}
<a href='#' class="edit-post-btn" data-bs-toggle="modal" data-bs-target="#edit{{ forloop.counter }}Modal">
 <button class="btn btn-secondary">Edit</button>
</a>
<!--end modal button edit-->
 {% else %}
 {% endif %}
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>

<!-- Modal for Edit -->
<div class="modal fade" id="edit{{ forloop.counter }}Modal" tabindex="-1" aria-labelledby="edit{{ forloop.counter }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h2 class = "mt-2">Edit {{user.username}}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body col-12">
      {%if request.user.pk == user.profile.pk%}
        <form class="edit-post-form" action="{%url 'profile_update' user.pk%}" method='POST'>
        {% csrf_token %}
        <label for="image" class="mb-1 ">Profile Picture</label>
        <br>
        <input id="image" type="text" name="image" value="{{user.profile.image}}" class="mb-3">
        <br>
        <label for="first" class="mb-1">First Name</label>
        <br>
        <input id="first" class="mb-3" type="text" name="first_name" value="{{user.first_name}}"/>
        <br>
        <label for="last" class="mb-1">Last Name</label>
        <br>
        <input id="last" class="mb-3" type="text" name="last_name" value="{{user.last_name}}"/>
        <br>
        <label for="city" class="mb-1">Current City</label>
        <br>
        <input id="city" class="mb-3" type="text" name="current_city" value="{{user.profile.current_city}}"/>
        <br>
        <input class="m-3 btn btn-outline-secondary" type="submit" value="submit">
        </form>
        {%else%}
        <div class="alert alert-danger">
        You may only edit your own profile.
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
<!-- End edit modal -->
<div class="container">
    <div class="mx-auto display-4 m-5" style="width: 400px;">
        Travel Portfolio
    </div>
    {% comment %} <div class="input-group rounded">
        <input type="search" class="form-control rounded mb-4" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
    </div> {% endcomment %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">City</th>
                <th scope="col">Post Created</th>
                <th scope="col"></th>
            </tr>
        </thead>
    <tbody>
    {% for post in user.posts.all%}
        <tr>
            <td><a class="link-dark text-decoration-none" href="{% url 'post_details' post.pk %}">{{post.title}}</a></td>
            <td>{{post.cities}}</td>
            <td>{{post.created_at}}</td>
            <td>
            </td>
            </div>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>


{%endblock%}